{% extends 'base.html.twig' %}

{% block body %}
    {% if error is not empty %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}

    <div>
        <a href="{{ auth_url }}">Google Login</a>
    </div>
    <div>
        <a href="{{ facebook_auth_url }}">Facebook Login</a>
    </div>
{% endblock %}
